p{
    line-height: 2.5em;
    padding: 20px;
    background-color: #b0cece;
    

}
img{
    float: right;
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-left: 20px;

}
h3{
    color: rgb(8, 9, 8);
    border-left: 20px double groove;
    padding-left: 20px;
    border-radius: 20px;
    border-bottom: 2px solid white;
    width: 150px;
    background-color: rgb(244, 242, 242)
}
    
body{
    background-color: #b8e3e9;
    padding:0;
    overflow-x:hidden;
}

#container{
    width:800px;
    margin: 10px auto;
    background-color:aliceblue;
    padding: 20px;
    

}

h1{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(246, 244, 244);
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px ;
    text-align: center; 
    width: 60%;
    margin: auto;
}

h2{
    font-size: 1.3em;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}
/* PSEUDO SELECTORS */
a:link{
    color: white
}
a:visited{
    color: rgb(11, 140, 225)
}

a:hover{
    color: pink
}
a:active{
    color: aqua;
}
/* ID RULES */
#pic1{
    border: none;
    width: 250px;
}
#pic2{
    float:left;
    margin-right: 10px;
    margin-left: 0;
}

/* CLASS RULE */
.highlight{
    background-color: white;
    color: black;
    border-radius: 2px;
    font-weight: bold;

}

#sidebar{
    background-color: black;
    width: 200px;
    line-height: 2.25em;
    border: 2px solid white;
    float:right;
    margin: 20px;
    margin-top: 70px;
}

#sidebar h3{
    border: none;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top:15px;
}

@media (max-width:1200px) {
#container{
    background-color: antiquewhite;
    width: 800px;

}
}
@media(max-width:992px){
    #container{
        background-color: lavender;
        width: 90%;
    }
    body,p,#container{
        margin:0;
        border: none;
        padding: 0;
    }
    p,#p2,h3{
        padding: 20px;
    }
    #container{
        margin:20px auto
    }
}

@media(max-width:768px){
    #sidebar{
        display: none;
    }
    h1{
        border:none;
        background: none;
        color: black;
        width: 100%;
    }
}