p{
    line-height: 2.5em;
}
img{
    float: right;
}
h3{
    color: rgb(8, 9, 8);
}
    
body{
    background-color:rgb(104, 174, 250)
}

p{
    font-family:'Courier New', Courier, monospace;
}

h1{
    font-family:'Courier New', Courier, monospace;
}